{% extends 'base.html' %}
{% block content %}
<style>
    body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ),url("/static/film2.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
</style>
<div class="welcome_container">
    <div class="welcome2 welcome-fade-in">Please choose a search method below</div>
    <div class="page_options">
</div>

<div class="parent_container">
    <div class="page_options_titles_container">
        <div class="page_options_titles page_options_titles">Movies</div>
        <div class="page_options_titles page_options_titles">People</div>
        <!--
        <div class="page_options_titles page_options_titles">By Cast</div>
        -->
        <div class="page_options_titles page_options_titles">Shows</div>
    </div>

    <div class="page_options_container">
        <div></div>
        <div class="page_options page_links titles-fade-in">
            <a href="/movie_search"><img src="/static/dunkirk.jpg"></a>
        </div> 
        <div class="page_options page_links people-fade-in">
            <a href="/people_search"><img src="/static/director_bay.jpg"></a>
        </div>
        <!--
        <div class="page_options page_links actors-fade-in">
            <a href="#"><img src="/static/actor_paul2.jpg"></a>
        </div>
        -->
        <div class="page_options page_links genres-fade-in">
            <a href="/tv_search"><img src="/static/tv_detective.jpg"></a>
        </div>
    </div>
</div>
<script>
    $('.titles_img').waypoint(function(direction){
        $('.titles_img').addClass('animated fadeInUp');
    },{
        offset: '0%'
    });

</script>

{% endblock %}