{% extends 'base.html' %}
{% block content %}
        <a href="/" class="home_btn">
            <ion-icon size="large" name="home-outline"></ion-icon>
        </a>
        <a href="/movie_search" class="movie_btn">
            <ion-icon size="large" name="film-outline"></ion-icon>
        </a>
        <div class="container">
            <form action="#" method="post" class="search_form">
                <p><input required class="search_bar" type="text" name="nm" placeholder="Search By Title..."></p>
                <p><input class="search_btn" type="submit" name="submit" value="Search"></p>
                <p class="last_search">Last Search - "{{ last_search }}"</p>
            </form>
                {% for result in movies %}
                <div class="box">
                    {% if result['poster_path'] != None %}
                        <img class="poster" src="{{ poster_base }}{{ result['poster_path'] }}">
                    {% else %}
                        <img class="poster" src="/static/placeholder_image_med.png">
                    {% endif %}
                    <div class="info">
                        <button type="button" class="overview_btn" id="show_overview" data-toggle="modal" data-target="#modalCart">Overview</button>
                        <div style="display: none" id="overview" class="overview">{{result['overview']}}</div>
                    </div>
                    
                        <div class="modal fade" id="modalCart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span style="color: black;" aria-hidden="true">×</span>
                                </button>
                                <div class="modal-body">
                                    {% if result['poster_path'] != None %}
                                        <img class="poster" src="{{ poster_base }}{{ result['poster_path'] }}">
                                    {% else %}
                                        <img class="poster" src="/static/placeholder_image_med.png">
                                    {% endif %}
                                    <div class="movie_title_rating">{{result['title']}} | {{result['vote_average']}}</div>
                                    <div id="overview">{{result['overview']}}</div>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>

                </div>
                {% endfor %}
        </div>
        <script>
            count_movies = document.getElementsByClassName('overview');
            console.log(count_movies.length);
            function showOverview(){
                for (movie in count_movies){
                    var movie_overview = document.querySelector('.overview');
                    if (movie_overview.style.display === 'none'){
                        movie_overview.style.display = 'block';
                    } else {
                        movie_overview.style.display = 'none';
                    }
                }
            }
            //count_movies.forEach(showOverview)
        </script>
{% endblock %}