{% extends 'base.html' %}
{% block content %}
<style>
    body {
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ),url("/static/hot_fuzz.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>
        <a href="/" class="home_btn">
            <ion-icon size="large" name="home-outline"></ion-icon>
        </a>
        <a href="/movie_search" class="movie_btn">
            <ion-icon size="large" name="film-outline"></ion-icon>
        </a>
        <a href="/people_search" class="people_btn">
            <ion-icon size="large" name="people-outline"></ion-icon>
        </a>
        <a href="/tv_search" class="tv_btn">
            <ion-icon size="large" name="videocam-outline"></ion-icon>
        </a>
        <div class="container">
            <form action="#" method="post" class="search_form">
                <p><input required class="search_bar" type="text" name="nm" placeholder="Search By Movie Title..."></p>
                <p><input class="search_btn" type="submit" name="submit" value="Search"></p>
                <p class="last_search">Last Search - "{{ last_search }}"</p>
            </form>
                {% for result in movies %}
                <div class="box">
                    {% if result['poster_path'] != None %}
                        <img class="poster" src="{{ poster_base }}{{ result['poster_path'] }}">
                    {% else %}
                        <img class="poster" src="/static/placeholder_image_med.png">
                    {% endif %}
                    <div class="info">
                        <button type="button" class="overview_btn" data-toggle="modal" data-target="#modalDetails{{ result['id'] }}">Overview</button>
                        <!-- <div style="display: none" id="overview" class="overview">{{result['overview']}}</div> -->
                        <div class="modal fade" id="modalDetails{{ result['id'] }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span style="color: black;" aria-hidden="true">×</span>
                                    </button>
                                    <div class="modal-body">
                                        {% if result['poster_path'] != None %}
                                            <img class="poster" src="{{ poster_base }}{{ result['poster_path'] }}">
                                        {% else %}
                                            <img class="poster" src="/static/placeholder_image_med.png">
                                        {% endif %}
                                        <div class="movie_title_rating">{{result['title']}} | {{result['vote_average']}}</div>
                                        <div id="overview">{{result['overview']}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    
                </div>
                {% endfor %}
        </div>
{% endblock %}