<!DOCTYPE html>
<html>
    <head>
        <title>Matt IMDb</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <form action="#" method="post">
                <h1>Search Criteria</h1>
                <p>Name:</p>
                <p><input type="text" name="nm"></p>
            </form>
            <ol>
                {% for result in search_results %}
                    <li>{{result}}</li>
                {% endfor %}
            </ol>
        </div>
    </body>
</html>