<!DOCTYPE html>
<html>
    <head>
        <title>Matt IMDb</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        
            <form action="#" method="post">
                <h1>Search Criteria</h1>
                <p>Name:</p>
                <p><input type="text" name="nm"></p>
                <p><input type="submit" name="submit"></p>
                <p>Last Search - "{{ last_search }}"</p>
            </form>
            <div class="container">
                {% for result in movies %}
                <div class="box">
                    {% if result['poster_path'] != None %}
                        <img src="{{ poster_base }}{{ result['poster_path'] }}">
                    {% else %}
                        <img src="/static/placeholder_image.png">
                    {% endif %}
                    <div>{{result['title']}} | {{result['vote_average']}}</div>
                    {{result['overview']}}
                </div>
                {% endfor %}
                
            </div>
        </div>
    </body>
</html>