{% block content %}

    <div>Add user</div>
    <form method="POST">
        <input required type="text" name="name" placeholder="Name">
        <input required type="text" name="email" placeholder="Email">
        <input required type="text" name="user" placeholder="User Name">
        <input required type="text" name="pass" placeholder="Password">
        <input type="submit" value="submit" /><br>
    </form>

    <!--
    {% for state in states %}
    {{ state }}<br>
    {% endfor %}
    -->
     

{% endblock %}

