{% block content %}

    <div>Add user</div>
    <form method="POST">
        <input required type="text" name="name" placeholder="Name">
        <input required type="text" name="email" placeholder="Email">
        <input required type="text" name="user" placeholder="User Name">
        <input required type="text" name="pass" placeholder="Password">
        <input type="submit" value="submit" ><br>
    </form>

    <!--
    {% for state in states %}
    {{ state }}<br>
    {% endfor %}
    -->

    <div id='container'>
        <button id='add-button' onclick="addElement()">Add element</button>

    </div>
     

{% endblock %}

<script>

    // Keep form resubmissions from happening
    if (window.history.replaceState) {
        window.history.replaceState( null, null, window.location.href );
    }

    var container = document.getElementById('container');
    function addElement() {
        var newDiv = document.createElement('div');
        var deleteButton = document.createElement('button');
        newDiv.innerHTML = "YOOO";
        deleteButton.innerHTML = 'DELETE';
        deleteButton.classList.add('test-delete')
        container.append(newDiv, deleteButton);
        deleteButton.onclick = function () {
            newDiv.remove();
            deleteButton.remove();
    };
    }
/*
    function removeElement() {
        var deleteButton = document.getElementById('test');
        deleteButton.parentNode.removeChild(newDiv);
        return false;
    }
*/

</script>

