

/* Shared */

* {
    font-family: calibri, aria, sans-serif;
    color: white;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ),url("hot_fuzz.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

input:focus {
    outline: none;
    display: inline-block;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }


/* Home Page ::  ------------------------------------------ */

.welcome_container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.welcome {
    padding-top: 5%;
    align-self: center;
    font-size: 4em;
}

.welcome2 {
    align-self: center;
    font-size: 2em;
}

.page_options_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.page_options {
    margin: 50px;
}

/* Moive Search page :: Search Area ------------------------------------------ */

.container {
    display: flex;
    flex-wrap: wrap;
}

.home_btn {
    position: absolute;
    margin-left: 50px;
    margin-top: 50px;
}

.movie_btn {
    position: absolute;
    margin-left: 50px;
    margin-top: 100px;
}

.search_bar {
    border-radius: 5px;
    border: none;
    background-color: transparent;
    font-size: 24pt;
    margin-top: 20px;
}

.search_bar::placeholder {
    color: lightgray;
}

.search_form {
    flex-basis: 100%;
}


/* Search Results */

.box {
    flex-basis: 33%;
    margin-bottom: 20px;
    justify-content: center;
}

.poster {
    border-radius: 5px;
}

.poster:hover {
    transform: scale(.97);
    transition: transform 0.5s, opacity 0.3s;
    opacity: 1;
}

.info {
    width: 90%;
}

.movie_title_rating {
    font-size: 18pt;
}


/* Buttons */ 

.search_btn {
    background-color: #44bd32;
    border-radius: 5px;;
    border: 1px solid #44bd32;
    height: 6%;
    width: 12%;
    font-size: 14pt;
    color: white;
}

.overview_btn {
    background-color: #487eb0;
    border-radius: 5px;
    border: 1px solid #487eb0;
    height: 30px;
    width: 30%;
    color: white;
}

.overview_btn:hover, .search_btn:hover {
    background-color: white;
    color: black;
    border: solid 1px black;
    transition: .4s;
}



/* For typical laptop screen size */

@media only screen and (max-width: 1400px) {
    .poster {
      width: 250px;
      height: 300px;
    }
    .container {
    }
    .box {
        flex-basis: 25%
    }

  }